
Agreste-Game-Engine/x64/Debug/

Agreste-Game-Engine/Agreste-Game-Engine/x64/Debug/

Agreste-Game-Engine/.vs/Agreste-Game-Engine/v15/Browse.VC.db

Agreste-Game-Engine/.vs/Agreste-Game-Engine/v15/.suo
